<div class="container" style="padding:10px 10px;">
    <h1>Reading CSV file using jQuery</h1>
	<div class="well">
		<div class="row" id="csv-display">
			
		</div>
	</div>
  </div>
 <script type="text/javascript">

  $(document).ready(function(){
	var data;
	$.ajax({
	  type: "GET",  
	  url: “upload.csv",
	  dataType: "text",       
	  success: function(response)  
	  {
		data = $.csv.toArrays(response);
		generateHtmlTable(data);
	  }   
	});
	
	function download_csv(csv, filename) {
	    var csvFile;
	    var downloadLink;

	    // CSV FILE
	    csvFile = new Blob([csv], {type: "text/csv"});

	    // Download link
	    downloadLink = document.createElement("a");

	    // File name
	    downloadLink.download = filename;

	    // We have to create a link to the file
	    downloadLink.href = window.URL.createObjectURL(csvFile);

	    downloadLink.style.display = "none";

	    document.body.appendChild(downloadLink);

	    downloadLink.click();
	}

	function export_table_to_csv(html, filename) {
		var csv = [];
		var rows = document.querySelectorAll("table tr");
		
	    for (var i = 0; i < rows.length; i++) {
			var row = [], cols = rows[i].querySelectorAll("td, th");
			
	        for (var j = 0; j < cols.length; j++) 
	            row.push(cols[j].innerText);
	        
			csv.push(row.join(","));		
		}

	    // Download CSV
	    download_csv(csv.join("\n"), filename);
	}

	document.querySelector("button").addEventListener("click", function () {
	    var html = document.querySelector("table").outerHTML;
		export_table_to_csv(html, "table.csv");
	});

	function generateHtmlTable(data) {
		
		 var html = '<table class="table table-bordered table-striped table-hover table-condensed  text-center" id="DynamicTable">';

      if(typeof(data[0]) === 'undefined') {
        return null;
      } else {
		$.each(data, function( index, row ) {
		  //bind header
		  if(index == 0) {
			html += '<thead>';
			html += '<tr>';
			$.each(row, function( index, colData ) {
				html += '<th>';
				html += colData;
				html += '</th>';
			});
			html += '<th>';
			html += '<button id="addNewRow" class="btn btn-primary btn-sm">Add New Row</button>';
			html += '</th>';
			html += '</tr>';
			html += '</thead>';
			html += '<tbody>';
		  } else {
			html += '<tr>';
			
			$.each(row, function( index, colData ) {
				
				html += '<td>';
				html += colData;
				html += '</td>';
				
			});
			html += '</tr>';
		  }
		});
		html += '</tbody>';
		html += '</table>';
		$('#csv-display').append(html);
		$('#DynamicTable').SetEditable({ $addButton: $('#addNewRow')});
	  }
	}
  });
</script>
<button>Export HTML table to CSV file</button>