<div class="row">
  <h1>File Preview</h1>
  <table class="table table-bordered table-hover table-condensed">
<tbody><tr>
<td>street</td>
<td>city</td>
<td>zip</td>
<td>state</td>
<td>beds</td>
<td>baths</td>
<td>sq__ft</td>
<td>type</td>
<td>sale_date</td>
<td>price</td>
<td>latitude</td>
<td>longitude</td>
</tr>
<tr>
<td>3526 HIGH ST</td>
<td>SACRAMENTO</td>
<td>95838</td>
<td>CA</td>
<td>2</td>
<td>1</td>
<td>836</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>59222</td>
<td>38.631913</td>
<td>-121.434879</td>
</tr>
<tr>
<td>51 OMAHA CT</td>
<td>SACRAMENTO</td>
<td>95823</td>
<td>CA</td>
<td>3</td>
<td>1</td>
<td>1167</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>68212</td>
<td>38.478902</td>
<td>-121.431028</td>
</tr>
<tr>
<td>2796 BRANCH ST</td>
<td>SACRAMENTO</td>
<td>95815</td>
<td>CA</td>
<td>2</td>
<td>1</td>
<td>796</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>68880</td>
<td>38.618305</td>
<td>-121.443839</td>
</tr>
<tr>
<td>2805 JANETTE WAY</td>
<td>SACRAMENTO</td>
<td>95815</td>
<td>CA</td>
<td>2</td>
<td>1</td>
<td>852</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>69307</td>
<td>38.616835</td>
<td>-121.439146</td>
</tr>
<tr>
<td>6001 MCMAHON DR</td>
<td>SACRAMENTO</td>
<td>95824</td>
<td>CA</td>
<td>2</td>
<td>1</td>
<td>797</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>81900</td>
<td>38.51947</td>
<td>-121.435768</td>
</tr>
<tr>
<td>5828 PEPPERMILL CT</td>
<td>SACRAMENTO</td>
<td>95841</td>
<td>CA</td>
<td>3</td>
<td>1</td>
<td>1122</td>
<td>Condo</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>89921</td>
<td>38.662595</td>
<td>-121.327813</td>
</tr>
<tr>
<td>6048 OGDEN NASH WAY</td>
<td>SACRAMENTO</td>
<td>95842</td>
<td>CA</td>
<td>3</td>
<td>2</td>
<td>1104</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>90895</td>
<td>38.681659</td>
<td>-121.351705</td>
</tr>
<tr>
<td>2561 19TH AVE</td>
<td>SACRAMENTO</td>
<td>95820</td>
<td>CA</td>
<td>3</td>
<td>1</td>
<td>1177</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>91002</td>
<td>38.535092</td>
<td>-121.481367</td>
</tr>
<tr>
<td>11150 TRINITY RIVER DR Unit 114</td>
<td>RANCHO CORDOVA</td>
<td>95670</td>
<td>CA</td>
<td>2</td>
<td>2</td>
<td>941</td>
<td>Condo</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>94905</td>
<td>38.621188</td>
<td>-121.270555</td>
</tr>
<tr>
<td>7325 10TH ST</td>
<td>RIO LINDA</td>
<td>95673</td>
<td>CA</td>
<td>3</td>
<td>2</td>
<td>1146</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>98937</td>
<td>38.700909</td>
<td>-121.442979</td>
</tr>
<tr>
<td>645 MORRISON AVE</td>
<td>SACRAMENTO</td>
<td>95838</td>
<td>CA</td>
<td>3</td>
<td>2</td>
<td>909</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>100309</td>
<td>38.637663</td>
<td>-121.45152</td>
</tr>
<tr>
<td>4085 FAWN CIR</td>
<td>SACRAMENTO</td>
<td>95823</td>
<td>CA</td>
<td>3</td>
<td>2</td>
<td>1289</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>106250</td>
<td>38.470746</td>
<td>-121.458918</td>
</tr>
<tr>
<td>2930 LA ROSA RD</td>
<td>SACRAMENTO</td>
<td>95815</td>
<td>CA</td>
<td>1</td>
<td>1</td>
<td>871</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>106852</td>
<td>38.618698</td>
<td>-121.435833</td>
</tr>
<tr>
<td>2113 KIRK WAY</td>
<td>SACRAMENTO</td>
<td>95822</td>
<td>CA</td>
<td>3</td>
<td>1</td>
<td>1020</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>107502</td>
<td>38.482215</td>
<td>-121.492603</td>
</tr>
<tr>
<td>4533 LOCH HAVEN WAY</td>
<td>SACRAMENTO</td>
<td>95842</td>
<td>CA</td>
<td>2</td>
<td>2</td>
<td>1022</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>108750</td>
<td>38.672914</td>
<td>-121.35934</td>
</tr>
<tr>
<td>7340 HAMDEN PL</td>
<td>SACRAMENTO</td>
<td>95842</td>
<td>CA</td>
<td>2</td>
<td>2</td>
<td>1134</td>
<td>Condo</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>110700</td>
<td>38.700051</td>
<td>-121.351278</td>
</tr>
<tr>
<td>6715 6TH ST</td>
<td>RIO LINDA</td>
<td>95673</td>
<td>CA</td>
<td>2</td>
<td>1</td>
<td>844</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>113263</td>
<td>38.689591</td>
<td>-121.452239</td>
</tr>
<tr>
<td>6236 LONGFORD DR Unit 1</td>
<td>CITRUS HEIGHTS</td>
<td>95621</td>
<td>CA</td>
<td>2</td>
<td>1</td>
<td>795</td>
<td>Condo</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>116250</td>
<td>38.679776</td>
<td>-121.314089</td>
</tr>
<tr>
<td>250 PERALTA AVE</td>
<td>SACRAMENTO</td>
<td>95833</td>
<td>CA</td>
<td>2</td>
<td>1</td>
<td>588</td>
<td>Residential</td>
<td>Wed May 21 00:00:00 EDT 2008</td>
<td>120000</td>
<td>38.612099</td>
<td>-121.469095</td>
</tr>
</tbody></table>
</div>
