.node {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    color: #ffffff!important;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    font-weight: bold;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    background-color: #00834B;
    transition: box-shadow 0.2s ease-in-out;
    -webkit-box-shadow: 1px 1px 5px #000;
    -moz-box-shadow: 1px 1px 5px #000;
    box-shadow: 1px 1px 5px #000;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.padIt {
    padding: 15px;
}

.marginIt {
    margin: 10px;
}

.sandbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #E0E0E0;
}

.overlayingRight {
    -webkit-box-shadow: 1px 0 5px #000;
    -moz-box-shadow: 1px 0 5px #000;
    box-shadow: 1px 0 5px #000;
}

.overlayingLeft {
    -webkit-box-shadow: -1px 0 5px #000;
    -moz-box-shadow: -1px 0 5px #000;
    box-shadow: -1px 0 5px #000;
}

.overlayingTop {
    -webkit-box-shadow: 0 -1px 5px #000;
    -moz-box-shadow: 0 -1px 5px #000;
    box-shadow: 0 -1px 5px #000;
}

.overlayingBottom {
    -webkit-box-shadow: 0 1px 5px #000;
    -moz-box-shadow: 0 1px 5px #000;
    box-shadow: 0 1px 5px #000;
}

.leftPane {
    height: 100%;
    overflow-x: visible;
    background-color: #2979ff;
    transition: all 500ms ease;
}

.wrapper {
    height: 100%;
    overflow-y: hidden;
    padding: 0px;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border-top: .4rem solid black;
    border-right: .4rem solid black;
    box-shadow: 0 0 0 lightgray;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.arrow.left {
    right: 10px;
    -webkit-transform: translate3d(0, -50%, 0) rotate(-135deg);
    transform: translate3d(0, -50%, 0) rotate(-135deg);
}

.arrow.right {
    right: 10px;
    -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
    transform: translate3d(0, -50%, 0) rotate(45deg);
}

.arrow:hover {
    border-top: .4rem solid orange;
    border-right: .4rem solid orange;
    box-shadow: .2rem -.2rem 0 black;
}

.arrow:hover.left {
    right: 12px;
}

.arrow:hover.right {
    right: 8px;
}