<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dropzone.js Example</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dropzone/dist/dropzone.css">
    <meta name="csrf-token" content="XYZ123">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Upload Files</h1>
      </header>

      <div>
        <form id="upload-widget" method="post" action="/upload" class="dropzone">
          <div class="fallback">
            <input name="file" type="file" accept="application/pdf" />
          </div>
        </form>
      </div>

      <footer style="margin-top:500px;">
        <p>This demo is designed to accompany <a href="http://www.sitepoint.com/file-upload-form-express-dropzone-js/">this article</a>.</p>
      </footer>
    </div>

    <script type="text/javascript" src="/dropzone/dist/dropzone.js"></script>
    <script type="text/javascript">
      Dropzone.options.uploadWidget = {
      	
        paramName: 'file',
        maxFilesize: 100, // MB
        maxFiles: 5,
        dictDefaultMessage: 'Drag and Drop files or click for upload',
        headers: {
          'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
        },
        acceptedFiles: "image/*,application/*",
        
        init: function() {
          this.on('success', function( file, resp ){
            console.log( file );
            console.log( resp );
          });
        },
              };
    </script>
  </body>
</html>
