<div class="modal-content b-a-0">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&#xD7;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{tempNode.title}}</h4>
  </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-show="tempNode.title === 'map'">
          <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Logic</label>
              <div class="col-sm-9">
                  <textarea class="form-control" rows="10" ng-model="map.logic" placeholder="Code to be passed here"></textarea>
              </div>
          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'filter'">
          <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Logic</label>
              <div class="col-sm-9">
                  <textarea class="form-control" rows="10" ng-model="filter.logic" placeholder="Code to be passed here"></textarea>
              </div>
          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'reduce'">
          <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Logic</label>
              <div class="col-sm-9">
                  <textarea class="form-control" rows="10" ng-model="reduce.logic" placeholder="Code to be passed here"></textarea>
              </div>
          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'extractUsingRegex'">
          <div class="form-group">
              <label for="regex" class="col-sm-3 control-label">Regex</label>

              <div class="col-sm-9">
                  <textarea id="regex" class="form-control" rows="10" ng-model="extractUsingRegex.regex" placeholder="Split Regex to be passed here,"></textarea>
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column Index</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column index to be passed here" ng-model="extractUsingRegex.column">
              </div>

          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'splitUsingRegex'">
          <div class="form-group">
              <label for="regex" class="col-sm-3 control-label">Regex</label>

              <div class="col-sm-9">
                  <textarea id="regex" class="form-control" rows="10" ng-model="splitUsingRegex.regex" placeholder="Split Regex to be passed here,"></textarea>
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column Index</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column index to be passed here" ng-model="splitUsingRegex.column">
              </div>

          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'splitUsingDelimiter'">
          <div class="form-group">
              <label for="delimeter" class="col-sm-3 control-label">Delimiter</label>

              <div class="col-sm-9">
                  <textarea id="delimeter" class="form-control" rows="10" ng-model="splitUsingDelimiter.delimiter" placeholder="Split Delimiter to be passed here,"></textarea>
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column Index</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column index to be passed here" ng-model="splitUsingDelimiter.column">
              </div>

          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'duplicate'">
          <div class="form-group">
              <label for="regex" class="col-sm-3 control-label">Interleave</label>

              <div class="col-sm-9">
                  <input type="checkbox" id="regex" class="form-control" placeholder="Weather to interleave the duplicate fields or not." ng-model="duplicate.interleave"></textarea>
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Start</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Split Delimiter to be passed here," ng-model="duplicate.start">
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">End</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column index to be passed here" ng-model="duplicate.end">
              </div>
          </div>
        </form>

        <form class="form-horizontal" ng-show="tempNode.title === 'mergeWithDelimiter'">
          <div class="form-group">
              <label for="regex" class="col-sm-3 control-label">Delimiter</label>

              <div class="col-sm-9">
                  <input type="text" id="regex" class="form-control" rows="10" placeholder="Merge Delimiter to be passed here," ng-model="mergeWithDelimiter.delimiter"></textarea>
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Start</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Start Column index to be passed here," ng-model="mergeWithDelimiter.start">
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">End</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="End Column index to be passed here" ng-model="mergeWithDelimiter.end">
              </div>
          </div>
        </form>

        <form class="form-horizontal" ng-show="tempNode.title === 'filterWithParameter'">
          <div class="form-group">
              <label for="regex" class="col-sm-3 control-label">Parameter</label>

              <div class="col-sm-6">
                  <select ng-model="filterWithParameter.parameter" class="form-control col-sm-6">
                    <option value="greater">greater</option>
                    <option value="less">less</option>
                    <option value="equal">equal</option>
                    <option value="ge">ge</option>
                    <option value="le">le</option>
                    <option value="ne">ne</option>
                    <option value="contains">contains</option>
                    <option value="in">in</option>
                    <option value="longer">longer</option>
                    <option value="shorter">shorter</option>
                    <option value="anagram">anagram</option>
                    <option value="palindrome">palindrome</option>
                    <option value="isupper">isupper</option>
                    <option value="islower">islower</option>
                    <option value="isspace">isspace</option>
                    <option value="isalphabet">isalphabet</option>
                    <option value="isalphanum">isalphanum</option>
                    <option value="isnumeric">isnumeric</option>
                    <option value="isdecimal">isdecimal</option>

                  </select>
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="feature column index to be passed here," ng-model="filterWithParameter.column">
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Value</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Value to be filtered at to be passed here," ng-model="filterWithParameter.value">
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Target Column</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Index of the column that will act as target for the comparison" ng-model="filterWithParameter.target_column">
              </div>
          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'filterUsingRegex'">
          <div class="form-group">
              <label for="regex" class="col-sm-3 control-label">Regex</label>

              <div class="col-sm-9">
                  <textarea id="regex" class="form-control" rows="10" placeholder="Fliter Regex to be passed here," ng-model="filterUsingRegex.regex"></textarea>
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column Index</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column index to be passed here" ng-model="filterUsingRegex.column">
              </div>

          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'slice'">
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Start</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Start index of the slice" ng-model="slice.start">
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">End</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="End index of the slice" ng-model="slice.end">
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column index to be passed here" ng-model="slice.column">
              </div>
          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'convertTypeTo'">
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">To Type</label>
              <div class="col-sm-4">
                <select ng-model="convertTypeTo.toType" class="form-control col-sm-6">
                  <option value="integer">integer</option>
                  <option value="float">float</option>
                  <option value="string">string</option>
                  <option value="long">long</option>
                  <option value="boolean">boolean</option>
                  <option value="set">set</option>
                  <option value="list">list</option>
                  <option value="tuple">tuple</option>
                </select>
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="List of column indices to be passed here" ng-model="convertTypeTo.column">
              </div>
          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'addColumn'">
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">At</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Index to add new column at" ng-model="addColumn.at">
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Default Value</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Default value of the newly added column" ng-model="addColumn.value">
              </div>
          </div>

        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'chooseColumn'">
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Indexes</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Indexes to be performed operation on" ng-model="chooseColumn.indexes">
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Operation</label>
              <div class="col-sm-4">
                <select ng-model="chooseColumn.operation" class="form-control col-sm-6">
                  <option value="keep">keep</option>
                  <option value="remove">remove</option>
                </select>
              </div>
          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'flatten'">
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Start</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="start index to start flattening at" ng-model="flatten.start">
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">End</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="end index to do flattening till" ng-model="flatten.end">
              </div>
          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'reduceBy'">

          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column to reduce the rows by" ng-model="reduceBy.column">
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Aggregation</label>
              <div class="col-sm-9">
                <select ng-model="reduceBy.aggregation" class="form-control col-sm-6">
                  <option value="list">list</option>
                  <option value="add">add</option>
                  <option value="xor">xor</option>
                  <option value="multiply">multiply</option>
                  <option value="append">append</option>
                </select>
              </div>

          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'sortBy'">

          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column index to act as key for sorting," ng-model="sortBy.column">
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Ascending</label>
              <div class="col-sm-4">
                  <input type="checkbox" class="form-control" id="exampleInputPassword1" placeholder="Column" ng-model="sortBy.ascending" />
              </div>

          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'takeTop'">

          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">N</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Number of top entries to be taken" ng-model="takeTop.n" />
              </div>
          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'parseUserAgent'">

          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column to parse user agent from" ng-model="parseUserAgent.column">
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Replace</label>
              <div class="col-sm-4">
                  <input type="checkbox" class="form-control" id="exampleInputPassword1" placeholder="Weather the parsed value of user agent will replace the original data or not" ng-model="parseUserAgent.replace" />
              </div>

          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'parseDateTime'">

          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column to parse user agent from" ng-model="parseDateTime.column">
              </div>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Replace</label>
              <div class="col-sm-4">
                  <input type="checkbox" class="form-control" id="exampleInputPassword1" placeholder="Weather the parsed value of user agent will replace the original data or not" ng-model="parseDateTime.replace" />
              </div>

          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'findDistance'">

          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Unit</label>
              <div class="col-sm-9">
                <select ng-model="findDistance.unit" class="form-control col-sm-6">
                  <option value="miles">miles</option>
                  <option value="kms">kms</option>
                </select>
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">lat1</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" ng-model="findDistance.lat1" />
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">lng1</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" ng-model="findDistance.lng1" />
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">lat2</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" ng-model="findDistance.lat2" />
              </div>

          </div>
          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">lng2</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" ng-model="findDistance.lng2" />
              </div>

          </div>
        </form>
        <form class="form-horizontal" ng-show="tempNode.title === 'parkMedian'">

          <div class="form-group">
              <label for="exampleInputPassword1" class="col-sm-3 control-label">Column</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Column" ng-model="parkMedian.column">
              </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="pull-right">
          <button class="btn btn-success" ng-click="submit()">OK</button>
        </div>
      </div>
</div>
