<div class="modal-content b-a-0">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&#xD7;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{tempNode.title}}</h4>
  </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-show="tempNode.title.indexOf('.csv') === -1">
          <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Script</label>
              <div class="col-sm-9">
                  <textarea class="form-control" rows="3"></textarea>
              </div>
          </div>
        </form>
        <div ng-show="tempNode.title.indexOf('.csv') !== -1">
          <table  id="datatables-example" class="display table table-striped table-hover table-responsive">
            <tr ng-repeat="x in tempNode.fileContent track by $index">
              <td ng-repeat="y in x track by $index">{{ y }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button class="btn btn-success" ng-click="cancel()">OK</button>
        </div>
      </div>
</div>
