<div ng-controller="NavCtrl">
  <!-- START Navbar -->
  <div class="navbar-default navbar navbar-fixed-top">
  <div class="container-fluid">

  <div class="navbar-header">
  <a class="current navbar-brand" href ui-sref="index.main">
      Visual Analytics as a Service
  </a>
  <button class="action-right-sidebar-toggle navbar-toggle collapsed" data-target="#navdbar" data-toggle="collapse" type="button">
      <i class="fa fa-fw fa-align-right"></i>
  </button>
  <button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
      <i class="fa fa-fw fa-user"></i>
  </button>
  <button class="action-sidebar-open navbar-toggle collapsed" type="button">
      <i class="fa fa-fw fa-bars"></i>
  </button>
  </div>
  </div>
  </div>

  <!-- START Sidebars -->
  <aside class="navbar-default sidebar">
  <div class="sidebar-overlay-head">
  <img src="../assets/images/logo-warning-white@2X.png" alt="Logo" width="80">
  <a href class="sidebar-switch action-sidebar-close">
    <i class="fa fa-times"></i>
  </a>
  </div>
  <div class="sidebar-content">
  <!-- START Sidebar Header -->
  <div class="add-on-container">
    <div class="sidebar-container-default sidebar-section">
        <div class="media">
            <div class="media-left media-top">
                <div class="avatar avatar-image avatar-inline">
                    <img src="../assets/images/avatars/avatar-33.jpg" alt="Avatar">
                    <i class="avatar-status bg-success avatar-status-bottom b-sidebar-status"></i>
                </div>
            </div>
            <div class="media-body">
                <h5 class="media-heading text-white m-t-0 m-b-0"><span>{{userinfo.first_name}} {{userinfo.last_name}}</span></h5>
                <button class="btn btn-danger btn-sm" type="button" ng-click="logout()">Logout</button>
            </div>
        </div>
    </div>

  </div>
  <!-- END Sidebar Header -->

  <div class="sidebar-content">
    <div class="text-center">
      <button class="btn btn-success btn-sm" type="button" ng-click="main()">Main</button>
      <button class="btn btn-primary btn-sm" type="button" ng-click="upload()">Upload</button>
      <button class="btn btn-warning btn-sm" type="button" ng-click="run()">Run</button>
      <button class="btn btn-default btn-sm" type="button" ng-click="result()">Result</button>

    </div>
  <div class="sidebar-default-visible small text-uppercase sidebar-section m-t-3 m-b-2">
    <strong>Uploaded Files</strong>
  </div>

  <!-- START Tree Sidebar Common -->
  <ul class="side-menu" id="inputFileList">




  </ul>
  <!-- END Tree Sidebar Common  -->

  <div class="sidebar-content">
  <div class="sidebar-default-visible small text-uppercase sidebar-section m-t-3 m-b-2">
    <strong>Tools</strong>
  </div>

  <!-- START Tree Sidebar Common -->
  <ul class="side-menu">

    <li class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="map" data-idx="1" data-mode="tool">
        <a href>
          <div>
            <div class="nav-label" style="z-index:10000;">Map</div>
          </div>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="reduce"  data-idx="2" data-mode="tool">
        <a href>
            <span class="nav-label">Reduce</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="filter"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">Filter</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="extractUsingRegex"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">ExtractUsingRegex</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="splitUsingRegex"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">SplitUsingRegex</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="splitUsingDelimiter"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">SplitUsingDelimiter</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="duplicate"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">Duplicate</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="mergeWithDelimiter"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">MergeWithDelimiter</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="filterWithParameter"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">FilterWithParameter</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="filterUsingRegex"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">FilterUsingRegex</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="slice"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">Slice</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="convertTypeTo"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">ConvertTypeTo</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="addColumn"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">AddColumn</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="chooseColumn"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">ChooseColumn</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="flatten"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">Flatten</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="reduceBy"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">ReduceBy</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="sortBy"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">SortBy</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="distinct"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">Distinct</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="takeTop"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">takeTop</span>
        </a>
    </li>
    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="parseUserAgent"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">ParseUserAgent</span>
        </a>
    </li>


    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="parseDateTime"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">ParseDateTime</span>
        </a>
    </li>

    <li  class="primary-submenu draggable_operator" data-nb-inputs="1" data-nb-outputs="1" data-title="removeHeader"  data-idx="3" data-mode="tool">
        <a href>
            <span class="nav-label">Remove Header</span>
        </a>
    </li>



  </ul>
  <!-- END Tree Sidebar Common  -->
  <div class="sidebar-default-visible small text-uppercase sidebar-section m-t-3 m-b-2">
    <strong>Output</strong>
  </div>

  <!-- START Tree Sidebar Common -->
  <ul class="side-menu">

    <li class="draggable_operator primary-submenu" data-nb-inputs="1" data-nb-outputs="0" data-title="XML" data-idx="4" data-mode="output">
        <a href>
          <div>
            <div class="nav-label" style="z-index:10000;">XML</div>
          </div>
        </a>
    </li>
    <li  class="draggable_operator primary-submenu" data-nb-inputs="1" data-nb-outputs="0" data-title="JSON"  data-idx="5" data-mode="output">
        <a href>
            <span class="nav-label">JSON</span>
        </a>
    </li>
    <li  class="draggable_operator primary-submenu" data-nb-inputs="1" data-nb-outputs="0" data-title="CSV"  data-idx="6" data-mode="output">
        <a href>
            <span class="nav-label">CSV</span>
        </a>
    </li>
  </ul>
  <!-- END Tree Sidebar Common  -->

  </div>
  </aside>

</div>
