<div ng-controller="NavCtrl">
  <!-- START Navbar -->
  <div class="navbar-default navbar navbar-fixed-top">
  <div class="container-fluid">

  <div class="navbar-header">
  <a class="current navbar-brand" href="../index.html">
      Visual Analytics as a Service
  </a>
  <button class="action-right-sidebar-toggle navbar-toggle collapsed" data-target="#navdbar" data-toggle="collapse" type="button">
      <i class="fa fa-fw fa-align-right"></i>
  </button>
  <button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
      <i class="fa fa-fw fa-user"></i>
  </button>
  <button class="action-sidebar-open navbar-toggle collapsed" type="button">
      <i class="fa fa-fw fa-bars"></i>
  </button>
  </div>
  </div>
  </div>

  <!-- START Sidebars -->
  <aside class="navbar-default sidebar">
  <div class="sidebar-overlay-head">
  <img src="../assets/images/logo-warning-white@2X.png" alt="Logo" width="80">
  <a href="#" class="sidebar-switch action-sidebar-close">
    <i class="fa fa-times"></i>
  </a>
  </div>
  <div class="sidebar-content">
  <!-- START Sidebar Header -->
  <div class="add-on-container">
    <div class="sidebar-container-default sidebar-section">
        <div class="media">
            <div class="media-left media-top">
                <div class="avatar avatar-image avatar-inline">
                    <img src="../assets/images/avatars/avatar-33.jpg" alt="Avatar">
                    <i class="avatar-status bg-success avatar-status-bottom b-sidebar-status"></i>
                </div>
            </div>
            <div class="media-body">
                <h5 class="media-heading text-white m-t-0 m-b-0"><span>Ikwhan Chang</span></h5>
            </div>
        </div>
    </div>

  </div>
  <!-- END Sidebar Header -->

  <div class="sidebar-content">
    <div class="text-center">
      <button class="btn btn-primary btn-sm" type="button" ng-click="upload()">Upload</button>
      <button class="btn btn-default btn-sm" type="button" ng-click="save()">Save</button>
      <button class="btn btn-warning btn-sm" type="button" ng-click="run()">Run</button>
      <button class="btn btn-danger btn-sm" type="button" ui-sref="login">Logout</button>
    </div>
  <div class="sidebar-default-visible small text-uppercase sidebar-section m-t-3 m-b-2">
    <strong>Uploaded Files</strong>
  </div>

  <!-- START Tree Sidebar Common -->
  <ul class="side-menu">

    <li class="draggable primary-submenu" data-title="abc.csv">
        <a href="../apps/projects-list.html">
          <div>
            <div class="nav-label" style="z-index:10000;">abc.csv</div>
          </div>
        </a>
    </li>
    <li  class="draggable primary-submenu" data-title="def.csv">
        <a href="../apps/projects-grid.html">
            <span class="nav-label">def.csv</span>
        </a>
    </li>
    <li  class="draggable primary-submenu" data-title="haha.tsv">
        <a href="../apps/projects-grid.html">
            <span class="nav-label">haha.tsv</span>
        </a>
    </li>


  </ul>
  <!-- END Tree Sidebar Common  -->

  <div class="sidebar-content">
  <div class="sidebar-default-visible small text-uppercase sidebar-section m-t-3 m-b-2">
    <strong>Tools</strong>
  </div>

  <!-- START Tree Sidebar Common -->
  <ul class="side-menu">

    <li class="draggable primary-submenu" data-title="Map">
        <a href="../apps/projects-list.html">
          <div>
            <div class="nav-label" style="z-index:10000;">Map</div>
          </div>
        </a>
    </li>
    <li  class="draggable primary-submenu" data-title="Reduce">
        <a href="../apps/projects-grid.html">
            <span class="nav-label">Reduce</span>
        </a>
    </li>
    <li  class="draggable primary-submenu" data-title="Filter">
        <a href="../apps/projects-grid.html">
            <span class="nav-label">Filter</span>
        </a>
    </li>


  </ul>
  <!-- END Tree Sidebar Common  -->

  </div>
  </aside>

</div>
